body {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-width: 720px;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
}

.bgclass {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}

.container {
  margin: auto !important;
  resize: none;
  width: 1350px;
  border: 1px solid red;
  background-color: black;
  justify-content: center;
  position: relative;
  z-index: 1;
}

#container {
  height: 5380px;
}

.containerabout {
  margin: auto !important;
  width: 1350px;
  height: 759px;
  border: 1px solid red;
  background-color: black;
  justify-content: center;
  position: relative;
  z-index: 1;
}

#Portfolio {
  color: white;
  float: left;
  font-size: 30px;
  font-family: "Open Sans";
  font-weight: bold;
  text-decoration: none;
  position: absolute;
}
#About {
  color: white;
  float: left;
  font-size: 30px;
  font-family: "Open Sans";
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  margin-top: 20px;
}

spanPortfolio {
  height: 4px;
  width: 175px;
  background-color: white;
  border-radius: 100px;
  position: absolute;
}
spanAbout {
  height: 4px;
  width: 110px;
  background-color: white;
  border-radius: 100px;
  position: absolute;
  margin-top: 20px;
}

#BlackBox,
#BlackBoxIndex {
  width: auto;
  height: 759px;
  float: left;
  position: absolute;
  border-right: 1px solid gray;
  top: 0;
}

#HomeImage {
  width: 1350px;
  height: auto;
  position: absolute;
  border-bottom: 1px solid gray;
  top: 0;
}
#HomeImageAbout {
  width: 1350px;
  height: auto;
  position: absolute;
  top: 0;
}

#MyLogo,
#MyLogoIndex {
  width: 50px;
  height: auto;
  position: absolute;
  margin-left: 569px;
  top: 0;
}
#TwitterLogo,
#TwitterLogoIndex {
  width: 60px;
  height: auto;
  position: absolute;
  margin-left: 522px;
  top: -4px;
}
#PaypalLogo,
#PaypalLogoIndex {
  width: 45px;
  height: auto;
  position: absolute;
  margin-left: 483px;
  top: 4px;
}
#GithubLogo,
#GithubLogoIndex {
  width: 45px;
  height: auto;
  position: absolute;
  margin-left: 436px;
  top: 3px;
}
#LinkedinLogo,
#LinkedinLogoIndex {
  width: 45px;
  height: auto;
  position: absolute;
  margin-left: 386px;
  top: 3px;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.image {
  width: 1350px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

article {
  margin-top: 708px;
}

div main article section a {
  font-size: 35px;
  color: white;
  text-shadow: 3px 3px #ff000080;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div main article section a h3:hover {
  color: red;
  text-shadow: 3px 3px #ffffff80;
}

h1 {
  color: white;
  font-size: 45px;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  margin-top: 250px;
  margin-left: 40px;
}
h2 {
  font-size: 30px;
  color: #d0144f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  margin-top: 295px;
  margin-left: 40px;
}
#aboutname {
  margin-top: 40px;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

#MeImage {
  width: 280px;
  position: absolute;
  margin-left: 130px;
  margin-top: 100px;
}

#AboutMe {
  color: white;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  font-style: bold;
  font-size: 18px;
  margin-top: 420px;
  margin-left: 20px;
}

article section figure {
  margin: 0;
}

#image1 {
  width: 863px;
  float: left;
}
#image1:hover {
  position: relative;
  display: inline;
  text-align: center;
  width: 1350px;
}

#image2 {
  width: 863px;
  float: right;
}
#image2:hover {
  position: relative;
  display: inline;
  text-align: center;
  float: right !important;
  width: 1350px;
}

#image3 {
  width: 863px;
  float: left;
}
#image3:hover {
  position: relative;
  display: inline;
  text-align: center;
  width: 1350px;
}

#image4 {
  width: 863px;
  float: right;
}
#image4:hover {
  position: relative;
  display: inline;
  text-align: center;
  width: 1350px;
}

#image5 {
  width: 863px;
  float: left;
}
#image5:hover {
  position: relative;
  display: inline;
  text-align: center;
  width: 1350px;
}

#image6 {
  width: 863px;
  float: right;
}
#image6:hover {
  position: relative;
  display: inline;
  text-align: center;
  width: 1350px;
}

#image7 {
  width: 863px;
  float: left;
}
#image7:hover {
  position: relative;
  display: inline;
  text-align: center;
  width: 1350px;
}

#image8 {
  width: 1009px;
  float: right;
}
#image8:hover {
  position: relative;
  display: inline;
  text-align: center;
  width: 1350px;
}

#text1 {
  margin-top: 120px;
  margin-right: 25px;
  display: inline;
}
#text2 {
  margin-top: 120px;
  margin-bottom: 0;
  margin-left: 25px;
  position: absolute;
}
#text3 {
  margin-top: 180px;
  margin-right: 25px;
  display: inline;
}
#text4 {
  margin-top: 150px;
  margin-bottom: 0;
  margin-left: 10px;
  position: absolute;
}
#text5 {
  margin-top: 150px;
  margin-right: 25px;
  display: inline;
}
#text6 {
  margin-top: 300px;
  margin-bottom: 0;
  margin-left: 25px;
  position: absolute;
}
#text7 {
  margin-top: 350px;
  margin-right: 25px;
  display: inline;
}
#text8 {
  margin-top: 200px;
  margin-bottom: 0;
  margin-left: 20px;
  position: absolute;
}

#MyLogoFooter {
  width: 50px;
  height: auto;
  position: fixed;
  display: none;
  left: 190px;
  bottom: 30px;
}
#TwitterLogoFooter {
  width: 60px;
  height: auto;
  position: fixed;
  display: none;
  left: 190px;
  bottom: 75px;
}
#PaypalLogoFooter {
  width: 45px;
  height: auto;
  position: fixed;
  display: none;
  left: 200px;
  bottom: 125px;
}
#GithubLogoFooter {
  width: 45px;
  height: auto;
  position: fixed;
  display: none;
  left: 200px;
  bottom: 175px;
}
#LinkedinLogoFooter {
  width: 45px;
  height: auto;
  position: fixed;
  display: none;
  left: 200px;
  bottom: 225px;
}

#totop {
  width: 7%;
  height: 7%;
  display: none;
  position: fixed;
  bottom: 30px;
  right: 110px;
  z-index: 99;
  font-size: 30px;
  font-weight: bold;
  outline: none;
  color: white;
  background-color: black;
  border: 1px solid red;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  animation: totop 1s ease;
}
#totop:hover {
  color: white;
  background-color: red;
}

#Sidebars {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 100%;
}

.footercontainer {
  margin: auto !important;
  padding-top: 5px;
  width: 1350px;
  height: 122px;
  border: 1px solid red;
  border-top: 0;
  background-color: black;
  position: relative;
  z-index: 1;
}

#stylebox {
  float: left;
}

.style {
  white-space: pre;
  margin: 0 5px 5px 5px;
  padding: 2px 7px 7px 2px;
  border: 0.1px dotted red;
  border-radius: 5px;
  display: block;
}

#credit {
  color: white;
  text-shadow: 3px 3px #ff000080;
  font-weight: bold;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 20px;
  float: right;
  margin-top: 40px;
}

#HomeImageMobile {
  display: none;
}
#MeImageMobile {
  display: none;
}
#AboutMeMobile {
  display: none;
}

@media (max-width: 1821px) {
  #Sidebars {
    display: none;
  }
}

@media (max-width: 720px) {
  #About,
  spanAbout,
  #HomeImage {
    display: none;
  }
  #Portfolio,
  spanPortfolio {
    font-size: 45px;
    height: 6px;
    width: 265px;
    margin-top: 20px;
  }
  #HomeImageMobile,
  #MeImageMobile,
  #AboutMeMobile {
    display: block;
  }
  #BlackBoxIndex {
    height: 1550px;
  }
  #HomeImageMobile {
    border-bottom: 1px solid gray;
  }
  #Linkmenu {
    float: right;
    position: absolute;
  }
  #MyLogoIndex {
    width: 110px;
    right: -1309px;
    top: -51px;
  }
  #TwitterLogoIndex {
    width: 140px;
    right: -1225px;
    top: -70px;
  }
  #PaypalLogoIndex {
    width: 90px;
    right: -1090px;
    top: -40px;
  }
  #GithubLogoIndex {
    width: 90px;
    right: -980px;
    top: -42px;
  }
  #LinkedinLogoIndex {
    width: 90px;
    right: -870px;
    top: -40px;
  }
  h1 {
    font-size: 55px;
    top: 50px;
    margin-left: 40px;
    width: 1000px;
  }
  h2 {
    font-size: 40px;
    top: 58px;
    margin-left: 40px;
    width: 1000px;
  }
  #MeImageMobile {
    width: 450px;
    position: absolute;
    margin-left: 45px;
    top: 420px;
  }
  #AboutMeMobile {
    position: absolute;
    top: 900px;
    color: white;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    font-size: 37px;
    margin-left: 40px;
    width: 140%;
  }
  #figurespace {
    margin: 0;
  }
  #articlespace {
    margin: 0;
  }
  .container {
    height: 7653px;
  }
}

@media (max-width: 454px) {
  #AboutMeMobile {
    width: 270%;
  }
}

.animationImage {
  animation: scaling-image-animation 3s ease;
}

@keyframes scaling-image-animation {
  0% {
    transform: scale(0.1);
    opacity: 0.8;
    filter: contrast(0.1);
  }
  100% {
    transform: scale(0.5);
    filter: contrast(0.5);
  }
  100% {
    transform: scale(1);
    filter: contrast(1);
  }
}
