body {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin: auto;
  width: 1080px;
  height: 3813px;
  border: 1px solid red;
  background-color: black;
}

.containerabout {
  margin: auto;
  width: 1080px;
  height: 608px;
  border: 1px solid red;
  background-color: black;
}

#Portfolio {
  color: white;
  float: left;
  font-size: 25px;
  font-family: "Open Sans";
  font-weight: bold;
  text-decoration: none;
  position: absolute;
}
#About {
  color: white;
  float: left;
  font-size: 25px;
  font-family: "Open Sans";
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  margin-top: 17px;
}

spanPortfolio {
  height: 4px;
  width: 150px;
  background-color: white;
  border-radius: 100px;
  position: absolute;
}
spanAbout {
  height: 4px;
  width: 95px;
  background-color: white;
  border-radius: 100px;
  position: absolute;
  margin-top: 17px;
}

#BlackBox {
  width: auto;
  height: auto;
  float: left;
  position: absolute;
  border-right: 1px solid gray;
  top: 9px;
}
#BlackBoxAbout {
  width: auto;
  height: 608px;
  float: left;
  position: absolute;
  border-right: 1px solid gray;
  top: 9px;
}
#HomeImage {
  width: 1080px;
  height: auto;
  float: center;
  position: absolute;
  border-bottom: 1px solid gray;
  top: 9px;
}
#HomeImageAbout {
  width: 1080px;
  height: auto;
  float: center;
  position: absolute;
  top: 9px;
}
#MyLogo {
  width: 40px;
  height: auto;
  position: absolute;
  margin-left: 448px;
  top: 9px;
}
#TwitterLogo {
  width: 50px;
  height: auto;
  position: absolute;
  margin-left: 406px;
  top: 5px;
}
#PaypalLogo {
  width: 35px;
  height: auto;
  position: absolute;
  margin-left: 370px;
  top: 13px;
}
#GithubLogo {
  width: 35px;
  height: auto;
  position: absolute;
  margin-left: 330px;
  top: 12px;
}
#LinkedinLogo {
  width: 35px;
  height: auto;
  position: absolute;
  margin-left: 290px;
  top: 12px;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.image {
  width: 1080px;
  margin-top: 0;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

article {
  margin-top: 557px;
}

div main article section a {
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px #ff000080;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div main article section a h3:hover {
  color: red;
  text-shadow: 2px 2px #ffffff80;
}

h1 {
  color: white;
  font-size: 40px;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  margin-top: 250px;
  margin-left: 20px;
}
h2 {
  font-size: 25px;
  color: #d0144f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  margin-top: 295px;
  margin-left: 25px;
}
#aboutname {
  margin-top: 40px;
}

#MeImage {
  width: 250px;
  position: absolute;
  margin-left: 80px;
  margin-top: 100px;
  float: right;
}

#AboutMe {
  color: white;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  font-style: bold;
  font-size: 15px;
  margin-top: 370px;
  margin-left: 20px;
}

article section figure {
  margin: 0px;
}

#image1 {
  width: 593px;
  float: left;
}
#image1:hover {
  position: relative;
  display: inline;
  text-align: center;
  width: 1080px;
}

#image2 {
  width: 593px;
  float: right;
}
#image2:hover {
  position: relative;
  display: inline;
  text-align: center;
  float: right !important;
  width: 1080px;
}

#image3 {
  width: 593px;
  float: left;
}
#image3:hover {
  position: relative;
  display: inline;
  text-align: center;
  width: 1080px;
}

#image4 {
  width: 593px;
  float: right;
}
#image4:hover {
  position: relative;
  display: inline;
  text-align: center;
  width: 1080px;
}

#image5 {
  width: 593px;
  float: left;
}
#image5:hover {
  position: relative;
  display: inline;
  text-align: center;
  width: 1080px;
}

#image6 {
  width: 593px;
  float: right;
}
#image6:hover {
  position: relative;
  display: inline;
  text-align: center;
  width: 1080px;
}

#image7 {
  width: 593px;
  float: left;
}
#image7:hover {
  position: relative;
  display: inline;
  text-align: center;
  width: 1080px;
}

#image8 {
  width: 739px;
  float: right;
}
#image8:hover {
  position: relative;
  display: inline;
  text-align: center;
  width: 1080px;
}

.text1 {
  margin-top: 90px;
  margin-bottom: 0;
  margin-left: 100px;
  display: inline;
  position: absolute;
}
.text2 {
  margin-top: 90px;
  margin-bottom: 0;
  margin-left: 60px;
  position: absolute;
}
.text3 {
  margin-top: 120px;
  margin-bottom: 0;
  margin-left: 100px;
  display: inline;
  position: absolute;
}
.text4 {
  margin-top: 100px;
  margin-bottom: 0;
  margin-left: 40px;
  position: absolute;
}
.text5 {
  margin-top: 120px;
  margin-bottom: 0;
  margin-left: 100px;
  display: inline;
  position: absolute;
}
.text6 {
  margin-top: 220px;
  margin-bottom: 0;
  margin-left: 50px;
  position: absolute;
}
.text7 {
  margin-top: 240px;
  margin-bottom: 0;
  margin-left: 120px;
  display: inline;
  position: absolute;
}
.text8 {
  margin-top: 160px;
  margin-bottom: 0;
  margin-left: 40px;
  position: absolute;
}

#MyLogoFooter {
  width: 50px;
  height: auto;
  position: fixed;
  left: 70px;
  bottom: 30px;
}
#TwitterLogoFooter {
  width: 60px;
  height: auto;
  position: fixed;
  left: 70px;
  bottom: 75px;
}
#PaypalLogoFooter {
  width: 45px;
  height: auto;
  position: fixed;
  left: 80px;
  bottom: 125px;
}
#GithubLogoFooter {
  width: 45px;
  height: auto;
  position: fixed;
  left: 80px;
  bottom: 175px;
}
#LinkedinLogoFooter {
  width: 45px;
  height: auto;
  position: fixed;
  left: 80px;
  bottom: 225px;
}

#totop {
  width: 7%;
  height: 7%;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 48px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  color: red;
  background-color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  animation: totop 1s ease;
}
#totop:hover {
  color: white;
  background-color: red;
}

footer {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 100%;
}

.animationImage {
  animation: scaling-image-animation 3s ease;
}

@keyframes scaling-image-animation {
  0% {
    transform: scale(0.1);
    opacity: 0.8;
    filter: contrast(0.1);
  }
  100% {
    transform: scale(0.5);
    filter: contrast(0.5);
  }
  100% {
    transform: scale(1);
    filter: contrast(1);
  }
}
