body {
  background-image: url("img/survivor/survivor.jpg");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin: auto !important;
  width: 700px;
  height: 270px;
  top: 300px;
  border: 1px solid red;
  border-radius: 25px;
  background-color: black;
  justify-content: center;
  position: relative;
}

#text {
  text-align: center;
  color: white;
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 0;
}

#countdown {
  text-align: center;
  color: white;
  font-size: 60px;
  margin-top: 0;
}

.rdcontainer {
  width: 220px;
  height: 60px;
  border: 1px solid red;
  border-radius: 25px;
  background-color: black;
  bottom: 10px;
  left: 10px;
  position: fixed;
}

#rdtext {
  text-align: center;
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}