body {
  background-image: url("img/survivor/Survivor.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin: auto !important;
  width: 700px;
  height: 270px;
  top: 300px;
  border: 1px solid red;
  border-radius: 25px;
  background-color: black;
  justify-content: center;
  position: relative;
}

#text {
  text-align: center;
  color: white;
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 0;
}

#countdown {
  text-align: center;
  color: white;
  font-size: 60px;
  margin-top: 0;
}